* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.welcome-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  transition: 1s ease-in;
}

.welcome-page .welcome-text {
  font-size: 2rem;
  margin-top: 30vh;
  margin-bottom: 4rem;
}

.welcome-page .welcome-text div{
  height: 4rem;
  /* border: 1px white solid; */
  overflow: hidden;
}

.welcome-text h1{
  transform: translateY(4rem);
}

.welcome-text div:nth-child(1) h1{
  animation: welcome-text 2s ease forwards;
}
.welcome-text div:nth-child(2) h1{
  animation: welcome-text 2s ease forwards 0.5s;
}
.welcome-text div:nth-child(3) h1{
  animation: welcome-text 2s ease forwards 1s;
}

.welcome-page h3 {
  margin-bottom: 2rem;
  opacity: 0;
}

.welcome-page h2 {
  margin-bottom: 5rem;
  font-size: 2rem;
}

.welcome-page button {
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: gray;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.welcome-page.opened{
  transform: translateY(-100vh);
}



/* PAGE 1 */
/* ============================== */

.page-1, .page-2 {
  background-color: darkslategray;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.page-1 .judul-seminar {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  opacity: 0;
  transform: translateY(-4rem);
  transition: 1s 1s;
}

.page-1 .tanggal {
  font-size: 1.6rem;
  font-weight: lighter;
  opacity: 0;
  transform: translateY(2rem);
  transition: 1s 1s;
}

.page-1 .judul-seminar.opened,
.page-1 .tanggal.opened,
.page-2 .judul-seminar.opened,
.page-2 .tanggal.opened {
  opacity: 1;
  transform: translateY(0);
}

/* PAGE 2 */
/* ============================== */
.page-2{
  background-color: lightslategrey;
}

.page-2 .judul-seminar {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  opacity: 0;
  transform: translateX(-20rem);
  transition: 1s;
}

.page-2 .tanggal {
  font-size: 1.6rem;
  font-weight: lighter;
  opacity: 0;
  transform: translateX(20rem);
  transition: 1s;
}




@keyframes welcome-text {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateY(0);
  }
}
